.gpt-badge {
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.button-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.button-text span:first-child {
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.button-text span:last-child {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #2eae7f;
}
