.gpt-badge {
  zoom: 0.8;
  opacity: 0.9;
}

/* From Uiverse.io by 0xnihilism */
.brutalist-button.openai {
  display: flex;
  align-items: center;
  width: 240px;
  height: 70px;
  background-color: #1c5749;
  color: #dadada;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #000;
  padding: 0 12px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 5px 5px 0 #000;
  overflow: hidden;
  transition: all 0.3s ease;
}

.brutalist-button.openai::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: all 0.6s ease;
}

.brutalist-button.openai:hover::before {
  left: 100%;
}

.brutalist-button.openai:hover {
  background-color: #301140;
  border: 3px solid #000000;
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 #020504;
}

.brutalist-button.openai:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0 #000;
}

@keyframes spin-and-zoom {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

.brutalist-button:hover .openai-icon {
  animation: spin-and-zoom 1s linear infinite;
}

.openai-logo {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.openai-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-bottom: 2px;
  fill: #000;
  transition: all 0.3s ease;
}

.button-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.button-text span:first-child {
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.button-text span:last-child {
  font-size: 16px;
  font-weight: 700;
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.brutalist-button:hover .button-text span:last-child {
  color: #2eae7f; /* Change this to your desired hover color */
}
