/* =================
Pomodoro Logo
==================*/
.site-logo {
  margin-top: -0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #404040;
  font-family: 'Segoe UI';
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
}

img {
  margin-top: 0;
  max-width: 1.3em;
}

.site-logo span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Hidden but still accessible to screen readers and SEO */
.hidden-p {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.site-logo span:hover,
.site-logo span:focus {
  color: #23bab1;
}

@media (min-width: 575px) {
  .site-logo span {
    position: static; /* Reset position */
    width: auto; /* Reset width */
    height: auto; /* Reset height */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
    overflow: visible; /* Show overflow */
    clip: auto; /* Remove the clipping */
    border: none; /* Reset border */
  }

  img {
    margin-top: -0.1em;
  }
}
