/* ============
START BUTTON
=============*/
.start-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  color: #404040;
  gap: 0.1em;
  padding: 0.2em 1em;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.start-btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.start-btn:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.start-btn:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 140%;
  height: 180%;
  background-color: #23bab1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.start-btn:hover {
  color: #ffffff;
  border: 1px solid rgb(42, 223, 211);
}

.start-btn:hover:before {
  top: -35%;
  background-color: #23bab1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.start-btn:hover:after {
  top: -45%;
  background-color: #23bab1;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

@media (min-width: 480px) {
  .start-btn {
    padding: 0.4em 0.9em;
    font-size: 1em;
    font-weight: 700;
  }
}

@media (min-width: 680px) {
  .start-btn {
    padding: 0.6em 1.4em;
    font-size: 1em;
    font-weight: 900;
  }
}

@media (min-width: 1024px) {
  .start-btn {
    gap: 0.2em;
    padding: 0.7em 1.7em;
    font-size: 1.2em;
  }
}
