.timing-container {
  width: 100%;
}

.dial-label {
  font-size: 1rem;
  color: #fff;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.timing-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.timing-btn-container > button,
.time-set {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  height: 40px;
  width: 50px;
  border: none;
  box-shadow: 0px 4px 0px #658485; /* Adding solid shadow for 3D effect */
  transition: transform 0.1s, box-shadow 0.1s; /* Smooth transition */
}

.timing-btn-container > button:active {
  transform: translateY(6px); /* Move button down */
  box-shadow: 0px 3px 0px #666; /* Reduce shadow */
}

.minus-minute {
  background: #fb786e;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
}

.plus-minute {
  background: #36c8bd;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
}

.time-set {
  border: 1px solid black;
  box-shadow: 0px 2px 0px #658485;
  margin: 0;
  padding: 0 1em;
  background: #fffcf0;
}

.break {
  margin-top: 1em;
}

@media (min-width: 680px) {
  .dial-label {
    font-size: 1.5rem;
  }

  .timing-btn-container > button,
  .time-set {
    font-size: 1.3rem;
    height: 50px;
    width: 60px;
  }
}
