/* ============
Typography 
=============*/

h1,
h2,
h3 {
  font-weight: 400;
  color: #243a3b;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0.5em;
}

strong {
  color: #fb786e;
  font-weight: 700;
}

/* ============
Main Layout 
=============*/

.grid-container {
  /* background: url('/assets/images/Vector.png');
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; */
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

section:first-child {
  background-image: radial-gradient(
    circle at 50% 0%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );
  padding-top: 5em;
  padding-bottom: 1em;
}

section:last-child {
  background-color: #e8e8e8;
}

@media (min-width: 230px) {
  .grid-container {
    gap: 1em;
  }
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 0.9fr;
    gap: 1em 2em;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 0.8fr;
  }
}

@media (min-width: 1335px) {
  .grid-container {
    grid-template: 1fr / 1fr 1fr 1fr; /* make 1row & 3columns */
  }

  .item-task {
    grid-area: 1 / 1 / 2 / 2;
  }
  .item-clock,
  .item-note {
    grid-area: auto;
  }
}

@media (min-width: 1700px) {
  .grid-container {
    gap: 1em 3em;
  }
}

/* ============
Article Layout 
=============*/

article {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}
.wrapper {
  padding-top: 4em;
  margin: 0 auto;
  min-height: 100vh;
  width: 60%;
}

.title {
  color: #404040;
  font-size: 52px;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
