/* ============
Typography 
=============*/
h1,
h2,
h3 {
  font-weight: 400;
  color: #243a3b;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0.5em;
}

strong {
  color: #fb786e;
  font-weight: 700;
}

/* ============
Main Layout 
=============*/

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  /* background: url('/assets/images/Vector.png');
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* column-gap: 1em; */
}

.item1 {
  user-select: none;
}

.item2,
.item3 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.item3 {
  flex-direction: row;
}

main section:first-child {
  background-image: radial-gradient(
    circle at 50% 0%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );
  padding-top: 5em;
}

main section:nth-child(2) {
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.494);
}

main section:nth-child(2),
main section:last-child {
  background-color: #e8e8e8;
}

@media (min-width: 230px) {
  .grid-container {
    gap: 1em;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1335px) {
  .grid-container {
    grid-template: 1fr / 1fr 1fr 1fr; /* make 1row & 3columns */
  }

  .item3 {
    order: -1;
  }

  .item1,
  .item3 {
    grid-area: auto;
  }
}

/* ============
Tally Container
=============*/
.tally-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

/* ============
Article Layout 
=============*/

article {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}

.alarm-text {
  border-bottom: 1px solid #551a8b;
  cursor: pointer;
}

.title {
  color: #404040;
  font-size: 52px;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  animation: lightUp 1s ease-out;
}

@keyframes lightUp {
  0% {
    color: #f0e68c;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
  }
  100% {
    color: #333;
    text-shadow: none;
  }
}
