/* ============
Typography 
=============*/

h1,
h2,
h3 {
  font-weight: 400;
  color: #243a3b;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0.5em;
}

strong {
  color: #fb786e;
  font-weight: 700;
}

/* ============
Main Layout 
=============*/

.grid-container {
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section:first-child {
  padding-top: 5em;
  background: #404040;
}

section:last-child {
  background-color: #f0f2f5;
}
@media (min-width: 230px) {
  .grid-container {
    gap: 1em;
  }
}

@media (min-width: 680px) {
  .grid-container {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
  .item-note {
    grid-column: span 2; /* give notepad 2 column space */
  }
}

@media (min-width: 1200px) {
  .grid-container {
    background: url('/assets/images/Vector.png');
    background-position: center; /* Center the background image */
    background-size: contain; /* Make the image cover the entire area */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }

  .grid-container {
    grid-template: 1fr / 1fr 1fr 1fr; /* make 1row & 3columns */
  }

  .item-task {
    grid-area: 1 / 1 / 2 / 2;
  }

  .item-note {
    grid-area: auto;
  }
}

@media (min-width: 1700px) {
  .grid-container {
    gap: 1em 3em;
  }
}

/* ============
Article Layout 
=============*/

article {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}
.wrapper {
  padding-top: 4em;
  margin: 0 auto;
  min-height: 100vh;
  width: 60%;
}

.title {
  color: #404040;
  font-size: 52px;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
