/* ===================
TODO WRAPPER STYLE
====================*/
.todo-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 500px; */
  row-gap: 0.5em;
}

.todo-wrapper h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.list-wrapper {
  margin-top: 0.5em;
  max-height: 200px;
  overflow-y: scroll;
}

/* ===================
TODO FORM STYLE
====================*/
.todo-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.todo-btn {
  background: rgba(75, 75, 75, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  white-space: nowrap;
}

.todo-input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.todo-input:focus {
  outline: none;
}

.todo-input:focus + .input-border {
  transform: scaleX(100%);
}

.form-control {
  width: 100%;
  /* max-width: 500px; */
  position: relative;
  --width-of-input: 300px;
}

.todo-input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #ff6464 0%, #ffbf59 50%, #47c9ff 100%);
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.todo-input-alt:focus + .input-border-alt {
  transform: scaleX(100%);
}

/* ===================
TODO LIST STYLE
====================*/
.todo-list {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  margin: 0.5em auto;
  color: #fff;
}

.todo-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.5rem;
}

.todo-actions p {
  margin: 0.1em auto;
  user-select: none; /* Standard CSS property */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
}

.complete-button {
  color: #a5a5a5;
  cursor: pointer;
}

.edit-button {
  color: #2278a0;
  cursor: pointer;
}

.delete-button {
  color: #fb786e;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  color: #36c8bd;
}
