/* ===================
TODO WRAPPER STYLE
====================*/
.todo-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 500px; */
  row-gap: 0.5em;
}

.todo-wrapper h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.list-wrapper {
  margin-top: 0.5em;
  max-height: 200px;
  overflow-y: auto;
}

/* ===================
TODO FORM STYLE
====================*/
.todo-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  user-select: none;
}

.todo-btn {
  font-size: 1rem;
  padding: 10px;
  white-space: nowrap;
}

/* Todo Button Style*/
.todo-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #2d2834;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 0 9px 9px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg))
    rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: background-color 0.3s, transform 0.1s, color 0.3s;
}

.todo-btn:hover {
  color: transparent;
}

.todo-btn:hover::before {
  content: attr(data-text);
  background: linear-gradient(90deg, #f77170, #f9a976, #36c890, #2083b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Todo Button End */

.todo-input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.todo-input:focus {
  outline: none;
}

.todo-input:focus + .input-border {
  transform: scaleX(100%);
}

.form-control {
  width: 100%;
  /* max-width: 500px; */
  position: relative;
  --width-of-input: 300px;
}

.todo-input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(
    90deg,
    #f77170 0%,
    #f9a976 33.3%,
    #36c890 66.3%,
    #2083b0 100%
  );
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.todo-input-alt:focus + .input-border-alt {
  transform: scaleX(100%);
}

/* ===================
TODO LIST STYLE
====================*/
.todo-list {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  width: 91%;
  padding-right: 0.5em;
  color: #fff;
}

.active-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #42364a;
  border-radius: 10px;
}

.todo-task-wrapper {
  width: 100%;
  font-size: 1rem;
}

.todo-task {
  cursor: pointer;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.todo-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5rem;
}

.todo-actions p {
  margin: 0.1em auto;
  user-select: none; /* Standard CSS property */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
}

.active-icon {
  display: inline;
  color: #23bab1;
}

.complete-button {
  color: #a5a5a5;
  cursor: pointer;
}

.edit-button {
  color: #2278a0;
  cursor: pointer;
}

.delete-button {
  color: #fb786e;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  color: #36c890;
}

.todo-task-wrapper .complete {
  cursor: default;
}
