.drawerContainer {
  display: flex;
  flex-direction: column;
}

.aiLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-weight: bold;
}

.clearHistoryContainer {
  display: flex;
  justify-content: space-between;
}

.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 0 16px 16px 16px;
}

.message {
  margin: 16px;
  margin-bottom: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
  width: fit-content;
}

.message.user {
  max-width: 90%;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-left: auto;
  background-color: #e3f2fd;
  border-bottom-right-radius: 0;
}

.message.ai {
  max-width: 90%;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-right: auto;
  background-color: #f5f5f5;
  border-bottom-left-radius: 0;
}

.inputContainer {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}

.inputField {
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  min-width: 24px;
}

.openai-logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
