/* Current Page */
.current-page {
  border-bottom: 2px solid #ff9f43;
  box-shadow: 0 2px 0 #1dd1a1;
}

/* ============
Navigation
=============*/
header {
  background-color: #ffff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.377);
  position: relative;
}

.header-container {
  padding: 1em 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 2px;
  /* Prevent text from wrapping */
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* remove the default left padding caused by the 'UL' bullet */
  padding: 0;
  margin: 0;
}

@media (min-width: 520px) {
  .header-container {
    width: 95%;
  }

  nav ul {
    gap: 1em;
  }
}

@media (min-width: 1200px) {
  nav ul {
    gap: 2em;
  }
}
