.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 340px;
  height: 340px;
  background-color: #294142;
  border-radius: 50%;
  box-shadow: inset 0 3px 3px rgba(255, 255, 255, 0.685),
    inset 0 0 15px rgba(0, 0, 0, 0.685), 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.clock-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 320px;
  height: 320px;
  background-color: #f7e9e7;
  border-radius: 50%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.685), inset 0 0 4px rgba(0, 0, 0, 0.685);
  z-index: 1;
}

.clock-inner::before {
  content: '';
  position: absolute;
  width: 315px;
  height: 315px;
  border-radius: 50%;
  background: conic-gradient(
    #293135 0% 0.325%,
    #f98276 0.325% 8.05%,
    #293135 8.05% 8.355%,
    #fc7f73 8.355% 16.395%,
    #293135 16.395% 16.695%,
    #fb786e 16.695% 24.725%,
    #293135 24.725% 25.025%,
    #f9796f 25.025% 33.055%,
    #293135 33.055% 33.355%,
    #fb786c 33.355% 41.385%,
    #293135 41.385% 41.685%,
    #f69d6d 41.685% 49.715%,
    #293135 49.715% 50.015%,
    #f5a171 50.015% 58.045%,
    #293135 58.045% 58.345%,
    #2278a0 58.345% 66.375%,
    #293135 66.375% 66.675%,
    #2083b0 66.675% 74.705%,
    #293135 74.705% 75.005%,
    #36c8bd 75.005% 83.035%,
    #293135 83.035% 83.335%,
    #a1e6e2 83.335% 91.365%,
    #293135 91.365% 91.665%,
    #f9a976 91.665% 99.695%
  );
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.clock-inner::after {
  content: '';
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #ffff;
  border-radius: 50%;
  box-shadow: inset 0 0 3px rgb(0, 0, 0);
  z-index: 3;
}

.clock-inner .clock-center {
  position: absolute;
  text-align: center;
  color: #162121;
  z-index: 4;
}
.clock-inner .clock-center .time {
  font-size: 6em;
  font-weight: bold;
}
.clock-inner .clock-center .label {
  font-size: 1.3em;
  font-weight: 900;
}

@media (min-width: 700px) {
  .clock-outer {
    width: 600px;
    height: 600px;
  }

  .clock-inner {
    width: 530px;
    height: 530px;
  }

  .clock-inner::before {
    width: 505px;
    height: 505px;
  }

  .clock-inner::after {
    width: 360px;
    height: 360px;
  }

  .clock-inner .clock-center .time {
    font-size: 7em;
  }
  .clock-inner .clock-center .label {
    font-size: 1.5em;
  }
}
