:root {
  --primary-color: #000000;
  /* --secondary-color: #f77170; */
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  color: #fff;
  background-color: #2d2834;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  border-radius: 99px;
  z-index: 1;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 70px;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  z-index: 2;
}

.tab.active {
  color: var(--primary-color);
}

.glider {
  position: absolute;
  display: flex;
  height: 25px;
  width: 70px;
  /* background-color: var(--secondary-color); */
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (min-width: 480px) {
  .tab,
  .glider {
    font-size: 1rem;
    height: 30px;
    width: 120px;
  }
}

@media (min-width: 700px) {
  .tab,
  .glider {
    font-size: 1.25rem;
    height: 40px;
    width: 182px;
  }
}
