.footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #404040;
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
}

.footer-logo {
  transform: scale(0.9);
}

.links a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 575px) {
  .footer-logo {
    margin-left: 0;
  }
}

@media (max-width: 760px) {
  /* Assuming $mantine-breakpoint-sm is 576px */
  .inner {
    flex-direction: column;
  }

  .links {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}
