body {
  margin: 0;
  font-family: sans-serif;
  /* Enable touch scrolling while hiding the scrollbar */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

hr {
  margin: 0.5em auto;
  width: 100%;
  border: 1px solid #1b2929;
  box-shadow: 0 -2px 3px #243a3bad;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1b2929; /* Darker background for the track */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #36c8bd; /* Lighter color for the thumb */
  border-radius: 20px;
  border: 3px solid #444b4e; /* Border color that contrasts with thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #36c8bd; /* Slightly darker color for hover effect */
}

/* By default, hide scrollbar */
body {
  /* For Firefox */
  scrollbar-width: none; /* Hides scrollbar */
}

/* For WebKit browsers */
::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

@media (min-width: 750px) {
  body {
    overflow-y: auto; /* Show scrollbar when window is wider than 750px */
    scrollbar-width: thin; /* For Firefox: show thin scrollbar */
    scrollbar-color: #4e575a #1b2929; /* Custom scrollbar colors */
  }

  /* For WebKit browsers */
  ::-webkit-scrollbar {
    display: block; /* Show scrollbar */
  }

  /* Scrollbar thumb retains original styling */
  ::-webkit-scrollbar-thumb {
    background: #4e575a; /* Thumb color */
    border-radius: 20px; /* Circular scrollbar ends */
    border: 3px solid #1b2929; /* Border matches track color */
  }
}
