.tally-wrapper {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tally-wrapper h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin: 1em 0 0.5em;
}

.tally-badge {
  width: 100%;
  padding: 1em;
  font-size: 2em;
  font-weight: 900;
}
