.tally-container {
  width: 100%;
  user-select: none;
}

.tally-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.1rem;
}

.tally-container strong {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: auto 5px;
}
