/* =================
SignIn Button
==================*/
.signin-btn {
  text-decoration: none;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 13px;
  gap: 9px;
  color: white;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  font-size: 1rem;
}

.signin-arrow {
  position: absolute;
  right: 7.5px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.signin-btn:hover .signin-arrow {
  width: calc(80px - (7.5px) * 2);
}

@media (max-width: 400px) {
  .signin-btn {
    width: auto;
    padding: 3px;
  }

  .signin-arrow,
  .signin-text {
    display: none;
    padding: 0;
  }
}

@media (min-width: 400px) {
  .signin-btn {
    width: 153px;
  }

  .signin-btn:hover .signin-arrow {
    width: calc(153px - (7.5px) * 2);
  }

  .signin-text {
    display: inline;
  }
}
